@if(loading$ === true){
<button (click)="handleSort()">Cargando..</button>
}@else{

<label class="inline-flex items-center me-5 cursor-pointer">
  <input
    type="checkbox"
    class="sr-only peer"
    [(ngModel)]="isChecked"
    (change)="handleSort()"
  />
  <div
    class="relative w-11 h-6 md:w-[77px] md:h-10 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-transparent peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 md:after:h-9 after:w-5 md:after:w-9 after:transition-all peer-checked:bg-primary-500"
  ></div>
  <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
    >Sort by price</span
  >
</label>
}
