<div class="mb-16">
  <header class="mt-12 md:mt-24 mb-12 md:mb-20 ml-8 md:ml-16 w-fit">
    <app-button-to pathTo="Burger" />
  </header>

  <main
    class="flex flex-col items-center justify-center md:justify-normal md:items-start mx-4 md:mx-0 md:flex-row"
  >
    @if(products$ && products$.images && products$.images.length > 1){
    <app-prodcuts-image [src]="products$.images[1].lg" />
    }

    <article class="mx-4 md:ml-48">
      <header>
        <h1
          class="text-2xl mt-12 ml-4 md:ml-0 md:mt-0 md:text-4xl font-medium text-primary"
        >
          {{ products$?.name }}
        </h1>
      </header>

      <main class="my-8 text-md mx-4 md:mx-0">
        <p class="text-balance mb-4">
          {{ products$?.desc }}
        </p>
        <span class="ml-auto mt-2 font-medium text-primary-500 text-xl">
          ${{ products$?.price }}
        </span>
      </main>

      <footer class="flex gap-x-12 justify-center w-full md:w-96">
        <app-quantity-buttons styles="mt-0" [product]="products$" />

        <div class="">
          <app-add-to-cart-button [productsToAdd]="products$" />
        </div>
      </footer>
    </article>
  </main>
  <article class="flex mx-4 md:mx-0 justify-center items-center mt-12 gap-x-12">
    <h1 class="text-4xl text-primary-500 font-medium items-start">
      Ingredients
    </h1>
    @for (ingredient of products$?.ingredients; track $index) {

    <div
      class="flex flex-col items-center hover:scale-110 duration-200 transition-all"
    >
      <img
        [src]="ingredient.img"
        width="130"
        height="130"
        loading="eager"
        [alt]="ingredient.name + ' ingredient'"
        class="aspect-square rounded-full border-b-2 border-black/10"
      />
      <h3 class="text-lg">{{ ingredient.name }}</h3>
    </div>

    }
  </article>
</div>
